html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  margin-bottom: 60px;
  }

  .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  padding-top:1em;
}

#topbanner {
  //background-color: #ed9415;
  font-family: 'Merriweather', serif;
  padding-top: .8em;
  padding-bottom: 1em;
  }

#topbanner h1 {
  font-size:
}

#about {
  float: right;
  color: black;
  background-color: white;
  font-size: 125%;
}

#about:hover, #about:focus {
  background-color: #E4E3D2;
}

#splashbysubject {
  padding: .5em;
}

#splashbymember {
  padding: .5em;
}

#subjectpicker {
  font-size: larger;
  margin-bottom: 1em;
}

#subjectresults .member {
  #border: 1px solid lightgray;

}
/*
#subjectresults .R {
  background-color: #bf0300;
}

#subjectresults .D {
  background-color: #6996ff;
}

#subjectresults .I {
  background-color: #de0ad0;
}
*/

#subjectresults .member a {
  font-weight: bold;
}

#subjectresults h2 {
  font-family: 'Merriweather', serif;
}


.member {
  padding: 0em;
    max-width: 25em;
  float: left;
  margin: .5em;
      border-radius: .25em;
    border: 1px solid gray;
}

.member .counts {
  color: gray;
}

.idpanel {
  font-weight: bold;
  padding: .5em;
  float: left;
}

.idpanel .district {
  font-size: smaller;
}

.namepanel {
  background-color: white;
  margin-right: 0em;
  float: left;
  padding:1em;
  margin-left: 1em;
}

#searchoptions {
  border: 1px solid lightgray;
  border-radius: .5em;
  padding: 1.5em;
  font-size: 1.2em;
  margin-bottom: 1em;
}

#splash {
  border: 1px solid lightgray;
  border-radius: .25em;
  padding: 2em;
  margin-bottom: 3em;
}

.splashpart {
  border: 1px solid lightgray;
  border-radius: .25em;
  padding: .5em;
  margin: .5em;
}

.splashpart h3 {
  margin-top: .1em;
}

.splashpart p {
  margin-bottom: 1.5em;
}

.loading img {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  
}

.search { margin-bottom: .3em;}

/*
#results {
  padding: 1em;
}
*/
#memberresults {
  margin-top: 1em;
}

#memberpicker {
  font-size: larger;
  margin-bottom: 1em;
}

#explainer {
  float: right;
}

.hideme { visibility: hidden; }

.modal-body {
    max-height: 30em;
    overflow-y: auto;
}

.aboutleft .panel-body {
  padding-left: 3em;
  padding-right: 3em;
}
/*
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
*/
